# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Bulls and Cows/*
!/Bulls and Cows/task/
/Bulls and Cows/task/*
!/Bulls and Cows/task/src

# Project exclude paths
/Topics/Keyword  super/Creating and testing inherited vehicle and car classes/out/
/Topics/Keyword  super/Creating and testing inherited vehicle and car classes/out/production/classes/
/Topics/Overloading/Processing integers and floats differently/out/
/Topics/Overloading/Processing integers and floats differently/out/production/classes/